{% extends "base_generic.html" %}

{% block content %}
  <h1>Name: {{ author.first_name }} {{ author.last_name }}</h1> <!-- author detail link not yet defined -->
  <p><strong>Date of Birth:</strong> {{ author.date_of_birth }}</p>
  <p><strong>Death:</strong> {{ author.date_of_death }}</p>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for copy in author.book_set.all %}
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.title }}
      </p>
      {% if copy.summary %}
        <p>{{ copy.summary }}</p>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}